a{

}

.logo{
    color:coral;
    text-decoration: none;

}

.logo img{
    display: block;
}
.green{
    color: green;
}
.lent{
    color: darkslateblue;
}
.loko{
    color: purple ;
}
.lent {
    color: darkslateblue;
}
.purple{
    background-color: purple;
}
.grey{
    background-color: gray;
}
.krip{
    color: purple ;
}
.moll{
    text-align: center;
}
.oranjik{
    color: coral;
    background-color:coral;

}
.bit{
    text-align: center;
}
.greyy{
    background-color: gray;
}
.bitt{
    text-align: center;
}
.kripp{
    color: purple ;
}
.copy{
    text-align: center;
}

